@model int
<h1>@Model</h1>
<div id="employeeCard"></div>
    <script>
    $(document).ready(function () {
    //     $.ajax({
    //         url: '/api/Employee/GetEmployeeByID/' + @Model,
    //         type: 'GET',
    //         success: function (employee) {
    //             if (employee != undefined){
    //                 const content = `
    //                                 <div class="col-md-4">
    //                                     <div class="card shadow-sm">
    //                                         <div class="card-body">
    //                                             <h5 class="card-title">ID: ${employee.employeeId}</h5>
    //                                             <p class="card-text">Name: ${employee.employeeName}</p>
    //                                         </div>
    //                                     </div>
    //                                 </div>`;
    //                 $('#employeeCard').html(content);
    //             }
    //             else{
    //                 $('#employeeCard').html('<h2> Error, Cant Find the Employee ' + @Model + '</h2>');
    //             }       
    //         },
    //         error: function () {
    //             $('#employeeCard').html('<p class="text-danger">Employee not found.</p>');
    //         }
    //     });

        const empId = @Model;

        fetch(`/api/Employee/GetEmployeeByID/${empId}`)
            .then(response => {
                if (!response.ok) {
                    // If the status is not 2xx, throw error to be caught below
                    throw new Error(`Error, Cannot Find Employee ${empId}`);
                }
                return response.json();
            })
            .then(employee => {
                if (employee != undefined) {
                    const html = `
                                    <div class="col-md-4">
                                        <div class="card shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title">ID: ${employee.employeeId}</h5>
                                                <p class="card-text">Name: ${employee.employeeName}</p>
                                            </div>
                                        </div>
                                    </div>`;
                    document.getElementById("employeeCard").innerHTML = html;
                }
                else {
                    document.getElementById("employeeCard").innerHTML = `<div> Error, Cannot Find Employee ${empId} </div>`;
                }
            })
            .catch(error => {
                document.getElementById("employeeCard").innerHTML = `<div> Error, Cannot Find Employee ${empId} </div>`;

            });
    });
    </script>