@using RedONEEmployee.Data

@model List<Employee>;

<h1>RedONE Employee</h1>
    <ul>
    @foreach(var e in @Model)
    {
        <li>EmployeeID = @e.EmployeeId&nbsp;&nbsp;&nbsp; EmployeeName = @e.EmployeeName</li>
    }
</ul>